# unused
TNC/ckpt/*
TNC/plots/*
TNC/RAW_DATA/*
**/__pycache__/
**/.DS_Store
old_README.md
**/.idea
datasets
*.log
*.pt
*.zip
data_processing/ECG/RAW_DATA/*
data_processing/ECG/PROCESSED/*
data_processing/ECG/SPECIFIC_DATA/*
Brant/pretrain_weights
TFC/code/experiments_logs/*
TFC/code/TFC/experiments_logs/*
TFC/code/TFC/wandb

SimMTM/SimMTM_Classification/code/experiments_logs/*
SimMTM/SimMTM_Classification/code/wandb

